<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }} | DevOps Knowledge Hub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
{{ if not .IsHome }}
<link rel="stylesheet" href="/css/section.css">
{{ end }}

</head>
<body class="{{ if not .IsHome }}section-page{{ end }}">


  {{ partial "topnav.html" . }}

  <div id="page-wrap">
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </div>

  {{ partial "footer.html" . }}

</body>
</html>
