<header class="site-header">
  <nav class="site-nav">
    <div class="nav-inner">

      <div class="nav-logo">
        <a href="{{ "" | absLangURL }}">{{ site.Title }}</a>
      </div>

      <div class="nav-links">
        {{- $currentPage := . }}
        {{- range site.Menus.main }}
          {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL)) | absLangURL }}
          {{- $page_url := $currentPage.Permalink | absLangURL }}
          <a href="{{ .URL | absLangURL }}"
             class="nav-pill {{ if eq $menu_item_url $page_url }}active{{ end }}">
            {{ .Name }}
          </a>
        {{- end }}
      </div>

    </div>
  </nav>
</header>
